/*======================================================================
*   Licensed to the Apache Software Foundation (ASF) under one or more
*   contributor license agreements.  See the NOTICE file distributed with
*   this work for additional information regarding copyright ownership.
*   The ASF licenses this file to You under the Apache License, Version 2.0
*   (the "License"); you may not use this file except in compliance with
*   the License.  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*   Unless required by applicable law or agreed to in writing, software
*   distributed under the License is distributed on an "AS IS" BASIS,
*   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*   See the License for the specific language governing permissions and
*   limitations under the License.
======================================================================*/
a:link {
}

A:HOVER {
	text-decoration: underline;
}

A:ACTIVE {
	color: red;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", HelveticaLT, Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0 auto;
	overflow-y: scroll;
	height: 100%;

}

.container{
		padding:10px;
}

html {
	background: #333 url(//1.www.s81c.com/i/v17/t/bg-loader.gif) no-repeat 50% 200px;

}

table {
	font-size:small;
	border: 0px;
}

table.stockdata {
	border: 0px;
	color: #6D929B;
	cellspacing: 0;
}

table.stockdata td {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #C1DAD7;
	color: #6D929B;
}

table.stockdata tr {
	border: 0
}

.gravatar-img {
	/* border-radius: 50%; */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 50;
	height: 50;
}

.simpleBorder {	   
		border: 1px solid #DEDEE5;
		border-radius: 10px 10px 10px 10px;
		display: block;
		margin: 4px

	}
	
	